#loading-overlay{
  position: fixed;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index:999;
  color: white;
  display:none;
}
